<div id = "logo-div">
 <img src="assets/img/bobsBurgers.png" alt="Italian Trulli">
 </div>
<div id = "container">

<div class="card red darken-2 item-a">
        <div class="card-content white-text red-background">
          <span class="card-title">Order up!</span>
         <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
        </div>
        
      </div>


<div class="card red darken-2 item-b">
        <div class="card-content white-text red-background">
          <span class="card-title">Your tummy</span>
         <ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
        </div>
        
      </div>


<div class="card red darken-2 item-c">
        <div class="card-content white-text red-background">
          <span class="card-title">Order a Burger</span>
        <form class="create-form">

  <div class="form-group">
    <label for="bu">burger Name:</label>
    <input type="text" id="bu" name="name" >
  </div>
        </div>
         <div class="card-action">
           <button type="submit">Add burger</button>
        </div>
      </div>
</div>

